body {
    color:royalblue
    }
    div {
      background-color:white;
    }
    h1 {
      border-color: white
    }
  a:link {
    color:pink;
  }
  
  a:active {
    color: pink;
  }
  
  a:hover {
    color: gray;
  }
  
  a:visited {
    color: darksalmon;
  }
  #social{position:absolute;
          top: 5%;
          left:90%;
          }

  #mail,#phone,#insta,#fb {
    height:20%;
    width:20%;
  
  }